
:root {
    --article-subheading-text: #a8a8a0;
    
    --code-font: Monospace;
    --code-bg: #353230;
    --code-fg: #e0e0f5;
}

div.nav {
    
    position: static;
}

h1 {
    border-bottom: solid 1px var(--article-subheading-text);
    margin: 2% 5%;
    padding-bottom: 1.5%;
    width: 90%;
}

h2, h3, h4, h5, h6 {
    padding: 0.75% 15% 0 15%;
    color: var(--article-subheading-text)
}

hr {
    width: 80%;
}

p {
    padding: 0 16% 0.5% 16%;
}


ul, ol {
    padding: 0.2% 18%;
}
ol ol, ul ul, ol ul, ul ol {
    padding-left: 3%;
}
li p {
    padding: 0;
}

img {
    max-width: 65%;
    padding: 0 7%;
}

iframe {
    max-width: 65%;
    padding: 0.6% 18%;
}

code {
    font-family: var(--code-font);
    font-size: 1.2em;
    background-color: var(--code-bg);
    color: var(--code-fg);
    padding: 0 0.3em;
}
pre {
    margin: 1% 15%;
}
pre code {
    padding: 2em;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    overflow-x: auto;
}

table, th, td {
    margin: 1% 18%;
    border-collapse: collapse;
    border: solid var(--article-subheading-text) 1px;
}
th {
    border-bottom: solid var(--article-subheading-text) 3px;
}
th, td {
    padding: 5px 10px;
}
