:root {
  --article-content-bg: #3d393a4a;
  --article-details-bg: #2824294a;
  --article-subheading-text: #babab0;
  --code-bg: #353230;
  --code-fg: #e0e0f5;
  --code-font: Monospace;
}

/* article container */
.article-box,
.article-content {
  max-width: var(--max-width-desktop);
}
.article-box {
  align-content: center;
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  width: 100%;
}
.article-content {
  background-color: var(--article-content-bg);
}
/* end article container */

/* details container */
#contrib-outer h3 {
  padding-left: 5%;
}
.article-details {
  background-color: var(--article-details-bg);
  margin: 0 auto;
  max-width: var(--max-width-desktop);
  padding: 2rem;
  width: 100%;
}
.article-details img {
  width: 6rem;
}
.contributors {
  display: flex;
  flex-wrap: wrap;
}
.last-updated {
  width: 100%;
}
/* end details container */

h2,
h3,
h4,
h5,
h6 {
  color: var(--article-subheading-text);
  padding: 0.75% 15% 0 10%;
}
hr {
  color: var(--article-subheading-text);
  margin-bottom: 1.5%;
  margin-top: 1.2%;
  width: 85%;
}
p {
  padding: 0.5% 16% 0.5% 11%;
}

ul,
ol {
  padding: 0.4% 15%;
}
ol ol,
ul ul,
ol ul,
ul ol {
  padding-left: 3%;
}
li:not(.nav li, footer li) {
  padding: 0.5% 0;
}

img {
  margin: 0 7%;
  max-width: 65%;
  transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
img:hover:not(.article-details img) {
  -wekbit-transform: scale(1.5);
  transform: scale(1.5);
}

iframe {
  max-width: 65%;
  padding: 0.6% 18%;
}

code {
  background-color: var(--code-bg);
  color: var(--code-fg);
  font-family: var(--code-font);
  font-size: 1rem;
  overflow-wrap: anywhere;
}
pre {
  margin: 1% 12%;
}
pre code {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  justify-content: space-between;
  max-width: 100%;
  overflow-x: auto;
  padding: 2em;
}

table,
th,
td {
  border-collapse: collapse;
  border: solid var(--article-subheading-text) 1px;
  margin: 1% 18%;
}
th {
  border-bottom: solid var(--article-subheading-text) 3px;
}
th,
td {
  padding: 5px 10px;
}
