:root {
	--back-light: #17181A;
	--back-dark: #000103;
	--text-light: #FFFFFA;
	--text-dark: #515052;
	
	font-family: "Verdana", sans-serif;
	text-align: left;
	
	padding-top: 8px;
	padding-bottom: 8px;

	width: 90%;
	margin: auto;
	background-color: var(--back-light);
	color: var(--text-light);
}

h1 {
	font-family: "Rodondo", "Verdana", sans-serif;
	text-align: center;
}

/* nav bar */
div.nav {
	padding-top: 0px;
	background-color: var(--text-light);
}
div.nav ul {
	overflow: hidden;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
div.nav li {
	float: left;
}
div.nav li a {
	display: block;
	width: 100px;
	padding: 10px 10px;
	text-decoration: none;
	color: var(--text-dark);
}
div.nav li a.active {
	background-color: var(--back-dark);
}
div.nav li a:hover {
	color: var(--text-light);
	background-color: var(--back-dark);
}
/* end nav bar */
