
:root {
	--back-light: #17181A;
	--back-dark: #000103;
	--text-light: #FFFFFA;
	--text-dark: #515052;
	--url: #bb8877;
	--url-hover: #bb8844;
	--footer-url: #997766;
	
	font-family: "Verdana", sans-serif;
	text-align: left;

	background-color: var(--back-light);
	color: var(--text-light);
}

body {
	margin: 0;
}

h1 {
	font-family: "Rodondo", "Verdana", sans-serif;
	text-align: center;
}

/* nav bar */
div.nav {
	padding-top: 0px;
	background-color: var(--text-light);
	position: fixed;
	width: 100%;
	top: 0;
}
div.nav ul {
	overflow: hidden;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
div.nav li {
	float: left;
}
div.nav li a {
	display: block;
	width: 100px;
	padding: 10px 10px;
	text-decoration: none;
	color: var(--text-dark);
}
div.nav li a.active {
	background-color: var(--back-dark);
	color: var(--text-light);
}
div.nav li a:hover {
	color: var(--text-light);
	background-color: var(--back-dark);
}
/* end nav bar */

/* start footer */
footer {
    bottom: 0;
    padding: 1%;
    text-align: center;
	font-size: 0.9em;
	background-color: var(--back-dark);
}
footer a {
	text-decoration: none;
	color: var(--footer-url);
}
footer li {
	display: inline;
	padding: 0 2.5%;
}
/* end footer*/

div.main {
	margin: 4%;
}
div.main img#main-title {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 45%;
}

a {
	color: var(--url);
}
a:hover {
	color: var(--url-hover);
}

/* for page list on home page */
div#page-list {
	padding-left: 10%;
}
div#page-list li a {
	text-decoration: none;
}
div#page-list li a:hover {
	text-decoration: underline;
}
