:root {
  --back-dark: #000303;
  --back-light: #17181a;
  --footer-url: #997766;
  --max-width-desktop: 1000px;
  --navbar-bg: #44403c;
  --text-light: #fffffa;
  --url-hover: #bb8844;
  --url: #bb8877;

  background-color: var(--back-light);
  box-sizing: border-box;
  color: var(--text-light);
  font-family: "Verdana", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-family: "Rodondo", "Verdana", sans-serif;
  text-align: center;
}
img {
  max-width: 100%;
}
a {
  color: var(--url);
}
a:hover {
  color: var(--url-hover);
}

/* start navbar */
.navbar {
  background-color: var(--navbar-bg);
  position: sticky;
  top: 0;
  width: 100%;
}
.navbar nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: var(--max-width-desktop);
  width: 100%;
}
.navbar a {
  color: var(--text-light);
  justify-self: flex-end;
  padding: 0.6rem 0;
  text-align: center;
  text-decoration: none;
  width: 8rem;
}
.navbar a.active,
.navbar a:hover {
  background-color: var(--back-dark);
  color: var(--text-light);
}
.navbar a.active {
  justify-self: flex-start;
}
.navbar .spacer {
  flex-grow: 1;
}
/* end navbar */

/* start body */
.main {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  max-width: var(--max-width-desktop);
  padding: 0.5rem 4rem 4rem;
}
#site-banner {
  max-height: 12rem;
}
#page-list {
  width: 100%;
}
#page-list a {
  align-self: baseline;
  text-decoration: none;
}
#page-list a:hover {
  text-decoration: underline;
}
.license-title {
  text-align: center;
}
/* end body */

/* start footer */
footer {
  background-color: var(--back-dark);
  display: flex;
  margin-top: auto;
  width: 100%;
}
footer nav {
  justify-content: center;
  margin: 0 auto;
  padding: 3rem 0;
}
footer a {
  color: var(--footer-url);
  text-decoration: none;
  padding: 0 2rem;
}
/* end footer*/

/* start media queries */
